<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiaatdetectie</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h2>Plagiaatdetectie</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Combinatie</th>
                        {% for author1, opmerkingen in matrix_opmerkingen.items() %}
                            <th>{{ author1 }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for author1, opmerkingen in matrix_opmerkingen.items() %}
                        <tr>
                            <td class="author">{{ author1 }}</td>
                            {% for author2, opmerking in opmerkingen.items() %}
                                {% if author1 != author2 and not matrix_opmerkingen[author2][author1] %}
                                    <td>
                                        {% for item in opmerking %}
                                            <span class="match">{{ item|join(" & ") }}</span><br>
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <td class="no-match">-</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
